
.card {
    border: 2px solid#ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    text-align: center;
}

.gitImage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 0 98px;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin: 16px;
}

input {
    width: 800px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #5e5e5e !important;
    color: #fff !important;
    margin-left: 8px;
}

